@model IEnumerable<termProjectMvc.Models.question>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Dashboard : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <!-- CUSTOM STYLES-->
    <link href="../../assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="../../assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Binary admin</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">Last access : 30 May 2016 &nbsp;<a href="login.html" class="btn btn-danger square-btn-adjust">Logout</a></div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="../../assets/img/find_user.png" class="user-image img-responsive" />
                    </li>


                    <li>
                        @Html.ActionLink("Dashboard", "userView", "Admin", new { @class = "active-menu fa fa-dashboard fa-3x" })
                    </li>
                    <li>
                        @Html.ActionLink("Solve Test", "solveTest", "Admin", new { @class = "active-menu fa fa-desktop fa-3x" })
                    </li>
                    <li>
                        @Html.ActionLink("Pool of Questions", "pool", "Admin", new { @class = "fa fa-desktop fa-3x" })
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table fa-3x"></i> Connections</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit fa-3x"></i> Account Settings </a>
                    </li>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="text-info pull-right">  <h2>Test Will expire in  <span id="time" class="text-danger"></span> minutes!</h2></div>
            <section>
                @using (Html.BeginForm("validater", "Admin", FormMethod.Post))
                  {
                <div class="jumbotron text-left">
                  
                    <div class="container">
                        
                       @for(int i = 0; i < Model.Count(); i++)
                       {
                         <div class="row text-capitalize">
                            <div class="col-xs-8">
                                <h3>@Model.ElementAt(i).statement</h3>
                                <div class="radio">
                                    <label ><input type="radio" name="option@(i)" value=1>@Model.ElementAt(i).option1</label><br />
                                    <label><input type="radio" name="option@(i)" value=2>@Model.ElementAt(i).option2</label><br />
                                    <label><input type="radio" name="option@(i)" value=3>@Model.ElementAt(i).option3</label> <br />
                                    <label><input type="radio" name="option@(i)" value=4>@Model.ElementAt(i).option4</label> <br />
                                </div>
                            </div>
                        </div>
                       }
                     </div>
                       
                </div>
                
                    <input type="submit" class="btn btn-default danger alert-danger center-block" value="Submit Test" />
                }

            </section>
            <hr>
            <footer class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Copyright © MyCompany. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <script>
                function startTimer(duration, display) {
                    var timer = duration, minutes, seconds;
                    setInterval(function () {
                        minutes = parseInt(timer / 60, 10);
                        seconds = parseInt(timer % 60, 10);

                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        display.textContent = minutes + ":" + seconds;

                        if (--timer < 0) {
                            timer = duration;
                        }
                    }, 1000);
                }

                window.onload = function () {
                    var fiveMinutes = 60 * 5,
                        display = document.querySelector('#time');
                    startTimer(fiveMinutes, display);
                };
            </script>
            <script src="Scripts/jquery-1.11.2.min.js"></script>
            <script src="Scripts/bootstrap.min.js"></script>

    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="../../assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="../../assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
